[Unit]
Description=Google Dns Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 ~/scripts/python/google_dns_service/main.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target